# Ignore Mac system files
.DS_store
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
# Ignore all json files
*.json
# Ignore all docx files
*.docx
# Ignore all xlsx files
*.xlsx
# Ignore all input and output
input_files/
output_files/
Data_Files/stanford_ner/
# other files
graph.dot
src/*.txt
*.pickle
